<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de Cores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-label class="ion-margin-start">Selecione:</ion-label>
  <ion-row>
    <ion-col size="4">
      <ion-item>
        <ion-select interface="popover" [(ngModel)]="numero1">
          <ion-select-option value="0">0</ion-select-option>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="a">A</ion-select-option>
          <ion-select-option value="b">B</ion-select-option>
          <ion-select-option value="c">C</ion-select-option>
          <ion-select-option value="d">D</ion-select-option>
          <ion-select-option value="e">E</ion-select-option>
          <ion-select-option value="f">F</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item>
        <ion-select interface="popover" [(ngModel)]="numero2">
          <ion-select-option value="0">0</ion-select-option>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="a">A</ion-select-option>
          <ion-select-option value="b">B</ion-select-option>
          <ion-select-option value="c">C</ion-select-option>
          <ion-select-option value="d">D</ion-select-option>
          <ion-select-option value="e">E</ion-select-option>
          <ion-select-option value="f">F</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item>
        <ion-select interface="popover" [(ngModel)]="numero3">
          <ion-select-option value="0">0</ion-select-option>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="a">A</ion-select-option>
          <ion-select-option value="b">B</ion-select-option>
          <ion-select-option value="c">C</ion-select-option>
          <ion-select-option value="d">D</ion-select-option>
          <ion-select-option value="e">E</ion-select-option>
          <ion-select-option value="f">F</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-item>
        <ion-select interface="popover" [(ngModel)]="numero4">
          <ion-select-option value="0">0</ion-select-option>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="a">A</ion-select-option>
          <ion-select-option value="b">B</ion-select-option>
          <ion-select-option value="c">C</ion-select-option>
          <ion-select-option value="d">D</ion-select-option>
          <ion-select-option value="e">E</ion-select-option>
          <ion-select-option value="f">F</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item>
        <ion-select interface="popover" [(ngModel)]="numero5">
          <ion-select-option value="0">0</ion-select-option>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="a">A</ion-select-option>
          <ion-select-option value="b">B</ion-select-option>
          <ion-select-option value="c">C</ion-select-option>
          <ion-select-option value="d">D</ion-select-option>
          <ion-select-option value="e">E</ion-select-option>
          <ion-select-option value="f">F</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item>
        <ion-select interface="popover" [(ngModel)]="numero6">
          <ion-select-option value="0">0</ion-select-option>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="a">A</ion-select-option>
          <ion-select-option value="b">B</ion-select-option>
          <ion-select-option value="c">C</ion-select-option>
          <ion-select-option value="d">D</ion-select-option>
          <ion-select-option value="e">E</ion-select-option>
          <ion-select-option value="f">F</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="2"></ion-col>
    <ion-col size="6">
      <ion-button (click)="mostrar()" color="medium">Mostrar cor</ion-button>
    </ion-col>
  </ion-row>
  <ion-label class="ion-margin-start">Amostra da cor:</ion-label>
  <div class="tamanho" style="background-color: {{cor}}">
  </div>
</ion-content>